@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: local("Comfortaa Regular"), local("Comfortaa-Regular"),
    url(https://fonts.gstatic.com/s/comfortaa/v10/-DackuIFgo7Hfy3rR14C3xJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    src: local("Comfortaa Regular"), local("Comfortaa-Regular"),
    url(https://fonts.gstatic.com/s/comfortaa/v10/qLBu5CQmSMt1H43OiWJ77VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 700;
    src: local("Comfortaa Bold"), local("Comfortaa-Bold"),
    url(https://fonts.gstatic.com/s/comfortaa/v10/fND5XPYKrF2tQDwwfWZJI5X5f-9o1vgP2EXwfjgl7AY.woff2) format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 700;
    src: local("Comfortaa Bold"), local("Comfortaa-Bold"),
    url(https://fonts.gstatic.com/s/comfortaa/v10/fND5XPYKrF2tQDwwfWZJI-gdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    color: #fff;
    font-family: "Comfortaa", sans-serif;
}

header {
    color: #fff;
}

body:after {
    content: "";
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-color: rgba(38, 30, 74, 0.5);
}

.top_menu {
    position: sticky;
    top: 0;
    background: rgba(38, 30, 74, 0.4);
    box-shadow: 0 1px 29px 10px rgba(38, 30, 74, 0.5);
    transition: 0.3s ease-in-out;
    border-bottom: unset;
    height: 46px;
    z-index: 10;
    align-items: center;
    display: flex;
    justify-content: space-around
}

.top_menu:hover {
    background: linear-gradient(to bottom, rgba(38, 30, 74, 0.6) 0, rgba(38, 30, 74, 0.6) 70%, rgba(38, 30, 74, 0.6) 100%) !important;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3) !important;
}

.top_menu .logo-container {
    align-items: center;
    display: flex;
    height: 46px;
    padding: 0 5px;
}

/*.top_menu .logo-container .logo {*/
/*    background: url() no-repeat center;*/
/*    height: 60px;*/
/*    width: 60px;*/
/*    background-size: auto 80%;*/
/*}*/

.top_menu .logo-container .logo-text {
    text-decoration: inherit;
    font-size: 1.5em;
    color: #fff;
}

.user-dropdown {
    color: #fff
}

.user-dropdown:hover {
    background: rgba(193, 202, 218, 0.1);
}

.dropdown-toggle:hover::after {
    color: rgb(45, 137, 210);
}

.my-btn {
    color: #fff
}

.my-btn:hover {
    background: rgba(193, 202, 218, 0.1);
    color: rgb(45, 137, 210);
}

.page {
    display: block;
    margin: 40px auto 15px;
    max-width: 1200px;
    min-height: 50px;
    position: relative;
    padding: 10px 15px;
    border-radius: 12px;
    background-color: rgba(38, 30, 74, 0.8);
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.3);
    clear: both;
    box-sizing: border-box;
}

.test {
    min-height: 2000px;
    padding-top: 5px;
}

.form-control {
    max-width: 560px;
}

.card-header {
    font-size: 30px;
    margin-bottom: 0.5em;
}

.avatar {
    margin: 10px 30px 30px 0;
    float: left;
    max-width: 300px;
}