{% load my_tags %}
<div class="comment" id="{{ object.pk }}">
    <div class="inner">
        <aside class="buttons">
            {% if user == object.user or user.role == 'moderator' or user.role == 'admin' %}
                <div class="main-controls">
                    <span class="item-delete" title="Удалить" data-type="comment" data-id="{{ object.pk }}"></span>
                </div>
            {% endif %}
        </aside>
        <header>
            <a href="{% url 'users:profile' object.user.slug %}">
                <img alt="{{ object.user.name }}" src="{{ object.user.avatar|user_media }}">
            </a>
            <div class="name-date">
                <a class="name" href="{% url 'users:profile' object.user.slug %}">{{ object.user.name }}</a>
                <span class="time"><time datetime="{{ object.created_at }}"
                                         title="{{ object.created_at }}">{{ object.created_at|time_since }}</time></span>
            </div>
        </header>
        <div class="body">{{ object.text }}</div>
    </div>
</div>