<header class="top_menu">
    <div class="menu_logo">
        <a class="logo-container" href="{% url "lobby:index" %}" title="PartyLab">
            <div class="logo"></div>
        </a>
    </div>

    <div class="dropdown">
        <a class="user-dropdown btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
           data-bs-toggle="dropdown" aria-expanded="false">
            Профиль
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>

</header>