{% load my_tags %}
<article class="topic" id="{{ object.pk }}">
    <div class="inner">
        {% if full %}
            <header>
                <a href="{% url 'users:profile' object.author.slug %}" class="poster"><img
                        src="{{ object.author.avatar|user_media }}" alt="{{ object.author.name }}"></a>
                <div class="name-date"><a class="name"
                                          href='{% url 'users:profile' object.author.slug %}'
                                          title="{{ object.author.name }}">{{ object.author.name }}</a></div>
            </header>
        {% else %}
            <aside class="buttons">
            {% if user == object.author or user.role == 'moderator' or user.role == 'admin' %}
                <div class="main-controls">
                    <span class="item-delete" title="Удалить" data-type="topic" data-id="{{ object.pk }}"></span>
                </div>
            {% endif %}
            </aside>
            <header>
                <a href="{% url 'topics:detail' pk=object.interest.pk slug=object.slug %}" class="poster"><img
                        src="{{ object.author.avatar|user_media }}" alt="{{ object.title }}"></a>
                <div class="name-date"><a class="name"
                                          href='{% url 'topics:detail' pk=object.interest.pk slug=object.slug %}'
                                          title="{{ object.title }}">{{ object.title }}</a></div>
            </header>
        {% endif %}
        <div class="status-line">
            <div class="section main"><span class="comments-count">{{ object.comments.count }}</span></div>
            <div class="section created_at">
                <time datetime="{{ object.created_at }}">{{ object.created_at|time_since }}</time>
            </div>
        </div>
        <div class="body topic-text">
            {% if full != true %}
                <div class="body-inner">{{ object.description }}</div>
            {% else %}
                <div class="body-inner">{{ object.description|truncatechars:200 }}</div>
                {% if object.description|length > 200 %}
                    <div class="read_more-link">
                        <a href="{% url 'topics:detail' pk=object.interest.pk slug=object.slug %}" class="link">Читать
                            дальше →</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</article>