{% extends 'interests/interest_base.html' %}
{% load my_tags %}
{% block int_content %}
    <div class="block">
        {{ object.description|default:"Нет описания" }}
    </div>
    {% if object.topics.count != 0 %}
        <div class="headline"><a href="{% url 'topics:list' object.pk %}">топики <div class="count">{{ object.topics.count }}</div></a></div>
        <div class="block">
            <div class="topics">
                {% for topic in topics %}
                {% include 'includes/topic_inc.html' with object=topic %}
            {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="headline"><a href="{% url 'interests:comments' object.pk %}">комментарии <div class="count">{% if object.comments.count != 0 %}{{ object.comments.count }}{% endif %} </div></a></div>
    <div class="block">
        <div class="comments">
            {% if object.comments.count == 0 %}
                <p class="nothing-here">Нет комментариев</p>
            {% endif %}
            {% for comment in comments reversed %}
        	{% include 'includes/comment_inc.html' with object=comment %}
        {% endfor %}
        </div>
        {% include 'includes/write_comment_inc.html' with type='interest' id=object.pk %}
    </div>
{% endblock %}