{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
    <div class="choose">
        <a class="area deny"
           data-url="{% url 'interests:deny-user' %}"
           data-user-id="{{ found_user.pk }}">
            <div class="deny-mark"></div>
        </a>
        <div id="user-detail">
            {% include 'includes/user_detail.html' with object=found_user %}
        </div>
        <a class="area approve"
           data-url="{% url 'interests:approve-user' %}"
           data-user-id="{{ found_user.pk }}">
            <div class="approve-mark"></div>
        </a>
    </div>
{% endblock %}