{% load static %}
{% load my_tags %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/my_stylesheet.css' %}" rel="stylesheet">

    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'js/my_scripts.js' %}"></script>

    <title>{{ tittle }}</title>
</head>
<body>
<header class="top_menu">
    <div class="menu_logo">
        <a class="logo-container" href="{% url "users:index" %}" title="PeopleFind">
            <div class="logo"><img src="/static/logo.png" alt="PeopleFind" title="PeopleFind"></div>
            <div class="logo-text">PeopleFind</div>
        </a>
    </div>

    <div class="menu_logo">
        <a class="text" href="{% url "users:index" %}" title="{{ nav_title }}">{{ nav_title }}</a>
    </div>

    <div class="right">
        {% if user.is_authenticated %}
            <a class="menu-icon notifications" data-count="{{ user.get_unread_notifications_count }}"
               href="{% url 'users:notifications' %}" title="Уведомления"></a>

            <div class="dropdown">
                <a class="user-dropdown btn dropdown-toggle" href="{% url 'users:profile-redirect' %}" role="button"
                   id="dropdownMenuLink"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ user.avatar|user_media }}" alt="{{ user.name }}" title="{{ user.name }}">
                    <span class="nickname">{{ user.name }}</span>
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'users:mutual-list' %}">Взаимные пользователи</a></li>
                    {% if user.role == 'moderator' or user.role == 'admin' %}
                        <li><a class="dropdown-item" href="{% url 'interests:create' %}">Создать интерес</a></li>
                    {% endif %}
                    <li>
                        <form method="post" action="{% url 'users:logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item">Выход</button>
                        </form>
                    </li>
                </ul>
            </div>
        {% else %}
            <a href="{% url 'users:login' %}" class="btn my-btn user-dropdown">Войти</a>
        {% endif %}
    </div>

</header>

<section class="page">
    {% block content %}
    {% endblock %}
</section>
</body>
</html>