{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
    <div class="block">
        <div class="headline"><a href="{% url 'interests:list' %}">популярные интересы</a></div>
        <div class="interests">
            {% for interest in interest_objects_list %}
                {% include 'includes/interest_info_inc.html' with object=interest %}
            {% endfor %}
        </div>
    </div>
    <div class="block">
        <div class="headline">самые обсуждаемые топики</div>
        <div class="topics">
            {% for topic in topic_objects_list %}
                {% include 'includes/topic_inc.html' with object=topic %}
            {% endfor %}
        </div>
    </div>
    <div>
        <a class="btn btn-primary search" href="{% url 'interests:find-user' %}">ПОИСК ЛЮДЕЙ ПО ИНТЕРЕСАМ</a>
    </div>
{% endblock %}